* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    color: #fefae0;
    /* height: 4000px; */
}

/* Market Section */



.market h1 {
    text-align: center;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    padding-top: 6rem;
    font-size: 3rem;
    color: #fefae0;


}

.market .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

/* Card Anim */
.card {
    width: 195px;
    height: 285px;
    background: #606c38;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: 0.2s ease-in-out;
    border-radius: 20px;
    margin-left: 2rem;
    margin-bottom: 3rem;
}

.img {
    height: 20%;
    position: absolute;
    transition: 0.2s ease-in-out;
    z-index: 1;
}

.textBox {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: 0.2s ease-in-out;
    z-index: 2;
}

.textBox>.text {
    font-weight: bold;
}

.textBox>.head {
    font-size: 20px;
}

.textBox>.price {
    font-size: 25px;
    color: #fff;
    transition: 0.3s;
}

.textBox>.price:hover {
    color: rgb(71, 255, 71);
}

.textBox>span {
    font-size: 15px;
    color: #fff;
}

.card:hover>.textBox {
    opacity: 1;
}

.card:hover>.img {
    height: 65%;
    filter: blur(7px);
    animation: anim 3s infinite;
}

@keyframes anim {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.card:hover {
    transform: scale(1.04) rotate(0deg);
}

@media (max-width: 1360px) {
    html {
        font-size: 120%;
    }

}

@media (max-width: 768px) {
    html {
        font-size: 75%;
    }

    .market h1 {
        font-size: 4rem;
    }

}